body {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: lightgreen;
  text-align: center;
  letter-spacing: 2px;
}

h3 {
  color: blue;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

p {
  margin-top: -5px;
  color: red;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.masterContainer {
  border: thick solid black;
  border-radius: 35px 10px 35px 10px;
  background-color: grey;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
  margin: 25px;
  padding-bottom: 25px;
}

.insideDiv {
  border: 2px solid black;
  border-radius: 25px 25px 10px 10px;
  text-align: center;
  background-color: lightgray;
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
}

p {
  max-width: 500px;
}

.truthsOrLies {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
