body {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: lightgreen;
  text-align: center;
}

h3 {
  color: blue;
}

p {
  color: red;
}

.masterContainer {
  border: thick solid black;
  border-radius: 15px;
  background-color: grey;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
}

.insideDiv {
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  background-color: lightgray;
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
}

p {
  max-width: 500px;
}

.truthsOrLies {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
